name: Futbol Haber Botu

on:
  schedule:
    # Her 40 dakikada bir çalıştır (Saat başı ve 40 geçe çalışır: 14:00, 14:40, 15:00...)
    - cron: '*/40 * * * *'
  workflow_dispatch: # Manuel buton

jobs:
  run-bot:
    runs-on: ubuntu-latest
    
    steps:
      - name: Depoyu Çek
        uses: actions/checkout@v3
        
      - name: Python Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - name: Kütüphaneleri Yükle
        run: pip install -r requirements.txt
        
      - name: Botu Başlat
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python main.py
